*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

[class*=__container] {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 15px;
}

@media (max-width: 1279.98px) {
  [class*=__container] {
    max-width: 1200px;
  }
}
@media (max-width: 1199.98px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 990.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
    padding: 0px 15px;
  }
}
body {
  font-family: Rubik;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.header__list {
  display: flex;
  gap: 40px;
}

.header__link {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  color: #ffffff;
}

.header__btn {
  display: flex;
  align-items: center;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #171717;
  background: #15ff10;
  border-radius: 15px;
  padding: 7px 12px;
}

#log:before {
  font-family: "icomoon";
  content: "\e917";
  font-size: 24px;
  padding-right: 7px;
}

#add:before {
  font-family: "icomoon";
  content: "\e9bf";
  font-size: 24px;
  padding-right: 7px;
}

.intro {
  background-image: url("../img/intro__bg.jpg");
  background-repeat: no-repeat;
  height: 490px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: 100vw;
}

.intro__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.intro__title{

  width: 403px;
  height: 76px;
  left: 438px;
  padding-top: 147px;
  font-weight: 600;
  font-size: 64px;
  color: #15FF10;
}
.intro__subtitle{
width: 395px;
height: 76px;
left: 442px;
padding-top: 65px;
font-weight: 600;
font-size: 32px;
line-height: 38px;
text-align: center;
color: #FFFFFF
}
#chel{
  position: absolute;
  width: 431px;
  height: 478px;
  left:26.5%;
  top:36%;
}
#welc{
  position: absolute;
width: 431px;
height: 76px;
left: 1000px;
top: 525px;
font-weight: 600;
font-size: 32px;
line-height: 38px;

color: #171717;

}
#txt{
  position: absolute;
width: 431px;
height: 224px;
left: 1000px;
top: 606px;
font-weight: 400;
font-size: 24px;
line-height: 28px;

color: #171717;
}
#spacebg{
  width: 100%;
  position: absolute;
  top:355px;  
}
.Astronaut{
  position: absolute;
width: 328px;
height: 450px;
top: 1335px;

}
#As1{
  transform: matrix(-1, 0, 0, 1, 0, 0);
  right: 311px;
}
#As2{
  left: 328px;
}
#stars{
  position: absolute;
  width: 362px;
height: 161px;
left: 497px;
top: 1961px;
}
.reg{
  width: 546px;
  position: absolute;
  left: 1063px;
}
#h_reg{
height: 38px;
top: 2111px;
font-weight: 600;
font-size: 32px;
line-height: 38px;
}
#p_reg{
height: 196px;
top: 2159px;
font-weight: 400;
font-size: 24px;
line-height: 28px;
}
#nyzbo{
  position: absolute;
width: 314px;
height: 28px;
left: 550px;
top: 2321px;
font-weight: 500;
font-size: 24px;
line-height: 28px;
color: #7D7D7D;
}