*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

[class*=__container] {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 15px;
}

@media (max-width: 1279.98px) {
  [class*=__container] {
    max-width: 1200px;
  }
}
@media (max-width: 1199.98px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 990.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
    padding: 0px 15px;
  }
}
body {
  font-family: Rubik;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.header__list {
  display: flex;
  gap: 40px;
}

.header__link {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  color: #ffffff;
}

.header__btn {
  display: flex;
  align-items: center;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  transition: all 0.3s ease 0s;
  /* identical to box height */
  color: #171717;
  background: #15ff10;
  border-radius: 15px;
  padding: 7px 12px;
}
.header__btn:hover {
  background: #17d814;
}

#log:before {
  font-family: "icomoon";
  content: "\e917";
  font-size: 24px;
  padding-right: 7px;
}

#add:before {
  font-family: "icomoon";
  content: "\e9bf";
  font-size: 24px;
  padding-right: 7px;
}

.intro {
  background-image: url("../img/intro__bg.jpg");
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: 100vw;
}

.intro__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
}

.intro__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 76px;
  /* identical to box height */
  color: #15ff10;
}

.intro__subtitle {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  width: 400px;
  color: #ffffff;
}

.welc {
  height: 1500px;
  background-image: url("../img/bg2.png");
  background-repeat: no-repeat;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: 100vw 1500px;
}

.welc__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 400px;
}

.about {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 50px;
}

.about__img {
  width: 443px;
  height: 478px;
  position: relative;
}
.about__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__body {
  width: 440px;
}

.about__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  padding-bottom: 5px;
  padding-top: 50px;
  color: #171717;
}

.about__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #171717;
}

.welc__chat {
  display: flex;
}

.body-chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.astro-1 .chat__stars {
  position: absolute;
  top: -53px;
}

.chat__astro {
  position: relative;
}

.chat__astronaut {
  width: 328px;
  height: 450px;
  position: relative;
  z-index: 10;
}
.chat__astronaut img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.chat__stars {
  width: 362px;
  height: 161px;
}
.chat__stars img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.body-chat__item {
  background: #15ff10;
  box-shadow: 0px 4px 15px rgba(21, 255, 16, 0.21);
  padding: 15px 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.body-chat__item p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.body-chat__item img {
  position: absolute;
  left: 22px;
  top: 58px;
}
.body-chat__item.right > img {
  position: absolute;
  left: auto;
  right: 11px;
  top: 58px;
  transform: scaleX(-1);
}

.astro-2 .chat__stars {
  position: absolute;
  bottom: 50px;
}

.registr__container {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
  gap: 30px;
}

.registr__reg {
  background-image: url("../img/bg3.png");
  background-repeat: no-repeat;
  width: 702px;
  height: 402px;
  background-size: 702px 402px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
  padding-top: 150px;
}

.registr__link {
  display: flex;
  align-items: center;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #171717;
  transition: all 0.3s ease 0s;
  width: 546px;
  height: 67px;
  padding: 15px 25px 15px 25px;
  text-align: center;
  background: #15ff10;
  border-radius: 15px;
}
.registr__link::before {
  font-family: "icomoon";
  content: "\e917";
  font-size: 32.5px;
  padding-right: 176px;
}
.registr__link:not(:first-child)::before {
  padding-right: 167px;
}
.registr__link:hover {
  background: #17d814;
}

.registr__label {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #7d7d7d;
}

.registr__body {
  width: 500px;
  padding-top: 157px;
}

.registr__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */
  padding-bottom: 10px;
  color: #000000;
}

.registr__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.proj {
  padding-top: 80px;
  padding-bottom: 145px;
}

.proj__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.proj__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  padding-bottom: 7px;
}

.proj__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #7d7d7d;
  width: 567px;
  padding-bottom: 37px;
}

.proj__link {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #171717;
  display: flex;
  align-items: center;
  transition: all 0.3s ease 0s;
  padding: 22px 356px 22px 22px;
  background: #15ff10;
  box-shadow: 0px 4px 15px rgba(21, 255, 16, 0.31);
  border-radius: 15px;
}
.proj__link::before {
  font-family: "icomoon";
  content: "\e917";
  font-size: 63px;
  padding-right: 276px;
}
.proj__link:hover {
  background: #17d814;
}

.footer {
  background-image: url("../img/bg4.png");
  background-repeat: no-repeat;
  height: 982px;
  background-size: 100vw 982px;
}

.footer__container {
  padding-top: 405px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__title {
  margin-bottom: 35px;
  width: 447px;
  height: 112px;
  position: relative;
  margin-left: 30px;
}
.footer__title img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  width: 575px;
  margin-bottom: 36px;
}

.footer__button {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  padding: 20px 25px;
  color: #000000;
  background: #15ff10;
  box-shadow: 0px 4px 15px rgba(21, 255, 16, 0.28);
  border-radius: 20px;
  margin-bottom: 36px;
  transition: all 0.3s ease 0s;
}
.footer__button:hover {
  background: #17d814;
}

.footer__comm {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  margin-bottom: 198px;
  color: #bebebe;
}

.footer__nav {
  padding-top: 15px;
  border-top: 2px solid #bebebe;
  position: absolute;
  bottom: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer__list {
  display: flex;
  gap: 45px;
}

.footer__link {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  text-align: center;
  color: #ffffff;
}
.footer__link:hover {
  text-decoration: underline;
}